{% extends "base.html" %}
{% block content %}

    <div class="container theme-showcase col-sm-6 col-sm-offset-3" role="main">

      <div class="row">
        <div>
          <div class="page-header"></div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Homepage for Personal Finance Application</h3>
            </div>
            <div class="panel-body">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}